//-this file will extend boilerplate html along with the css styles to other pug files
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
