//- this file will be for the update book form
extends layout.pug

block content
  h1= title
    //when the user clicks on the 'update book' book button, the action will redirect to the newly update book route
    form
        
      p
        label(for='title') Title
        input#title(name='title', type='text', value='')
      p
        label(for='author') Author
        input#author(name='author', type='text', value='')
      p
        label(for='genre') Genre
        input#genre(name='genre', type='text', value='')
      p
        label(for='year') Year
        input#year(name='year', type='text', value='')
      p
        input(type='submit', value='Update Book')
    form(action="/books/" + "?_method=DELETE", method="post", onsubmit="return confirm('Do you really want to delete this book?');")
      p
        a.button(href='/') Cancel
      p
        input(type='submit', value='Delete Book')
